# Paquets générés lors de l'empaquetage de l'extension
*.crx
*.pem
*.zip

# Clés PGP : ne JAMAIS versionner
*.asc
*.gpg
*.key
*.sec
secring*

# Outils
node_modules/
dist/
.vscode/
.idea/
*.iml
Thumbs.db
.DS_Store
